.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

.loginBox {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.title {
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
    color: #333;
}

.input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 15px;
    background-color: #0072ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #005bb5;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}